{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        <div style="height: 60px;"></div>
        <div id="menu" class="col-12">
            <div id="menu-bars" class="menu-spacing col-1">
                <div id="menu-button">
                    <div id="bar1" class="bar1"></div>
                    <div id="bar2" class="bar2"></div>
                    <div id="bar3" class="bar3"></div>
                </div>
            </div>
            <div class="menu-spacing col-3"></div>
            <div id="logo" class="menu-spacing col-4">
                LOGO
            </div>
            <div class="menu-spacing col-3"></div>
            <div id="search-bar" class="menu-spacing col-1">
                <i id="search-bar-icon" class="fa fa-search"></i>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="content" class="col-12">
            <h1>About page</h1>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
            <p style="padding-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lacinia ante a lacus scelerisque, 
                et vulputate lacus lacinia. Ut non libero vehicula, condimentum augue nec, tincidunt urna. Aliquam 
                a aliquam justo, et congue arcu. Aenean volutpat nibh at sem porta, sit amet tincidunt dui euismod. 
                Etiam non blandit felis. Cras mattis, ante sit amet efficitur mollis, odio risus vestibulum tortor, 
                et dapibus nibh orci vitae dui. Nunc eleifend leo sit amet ex mollis semper. Morbi et varius lorem. 
                Proin blandit efficitur est, eget finibus dolor convallis ac. Curabitur tortor turpis, placerat 
                fringilla nulla sed, porttitor pulvinar ante. Praesent aliquet dolor eu ultrices auctor. Aliquam 
                erat volutpat. In lacinia, neque sed rhoncus tempor, ante dolor rutrum lorem, et ultrices neque quam
                vitae erat.
            </p>
        </div>
        <div id="footer" class="col-12">
            contact: 111-222-333  &#9400; 2018 John Smith. All Rights Reserved.
        </div>
     </div>
{% endblock %}

{% block javascripts %}
    {# common scripts and css #}
    
    {# page specific scripts #}

    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        
            let container = document.getElementById("container");
            let menuButton = document.getElementById("menu-button");

            // initial configuration
            function init() {

                let windowWidth = window.innerWidth;

                if (windowWidth > 615) {

                } else {

                }
            }
            init();

            // on resize browser window
            let onresize = function() {

                let windowWidth = window.innerWidth;

                if (windowWidth > 615) {                    

                } else {

                }
            };
            window.addEventListener("resize", onresize);

            document.addEventListener("click", function(event){
                
                let menuPop = document.getElementById("menu-pop");
                let fadedRight = document.getElementById("faded-right");
                
                let searchPop = document.getElementById("search-pop");
                let fadedLeft = document.getElementById("faded-left");

                if (event.target.id === "bar1" || event.target.id === "bar2" || event.target.id === "bar3" || event.target.id === "menu-button") {
                    
                    if (searchPop) {
                        
                        closeSearch(searchPop, fadedLeft);
                    }

                    if (!menuPop && !fadedRight) {
                        
                        openMenu();
                        
                    } else {
                        
                        closeMenu(menuPop, fadedRight);
                    }
                }

                if (event.target.id === "search-bar-icon") {
                    
                    if (menuPop) {
                        
                        closeMenu(menuPop, fadedRight);
                    }

                    if (!searchPop && !fadedLeft) {
                        
                        openSearch();
                        
                    } else {
                        
                        closeSearch(searchPop, fadedLeft);
                    }
                }
                
                if (event.target.id === "faded-right") {
                    
                    closeMenu(menuPop, fadedRight);
                }
                
                if (event.target.id === "faded-left") {
                    
                    closeSearch(searchPop, fadedLeft);
                }
            });

            function openMenu() {

                let menuPop = document.createElement('div');
                menuPop.setAttribute('id', 'menu-pop');
                menuPop.classList.add("menu-open");
                container.appendChild(menuPop);
                
                fadeContentRightSide();
                
                menuButton.classList.add("change");
            }
            
            function fadeContentRightSide() {
                
                let contentFade = document.createElement('div');
                contentFade.setAttribute('id', 'faded-right');
                contentFade.classList.add("content-fade");
                contentFade.classList.add("fade-right");
                container.appendChild(contentFade);
            }
            
            function closeMenu(menu, faded) {
                
                menu.remove();
                faded.remove();
                
                menuButton.classList.remove("change");
            }
            
            function openSearch() {

                let searchPop = document.createElement('div');
                searchPop.setAttribute('id', 'search-pop');
                searchPop.classList.add("search-open");
                container.appendChild(searchPop);
                
                fadeContentLeftSide();
            }
            
            function fadeContentLeftSide() {
                
                let contentFade = document.createElement('div');
                contentFade.setAttribute('id', 'faded-left');
                contentFade.classList.add("content-fade");
                contentFade.classList.add("fade-left");
                container.appendChild(contentFade);
            }
            
            function closeSearch(search, faded) {
                
                search.remove();
                faded.remove();
            }
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        #menu {
            position: fixed;
            top: 0px;
            left: 0px;
            height: 60px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: white;
            border-bottom: silver solid 1px;
        }
        
        .menu-open {
            position: fixed;
            top: 60px;
            left: 0;
            width: -webkit-calc(0% + 200px);
            width:    -moz-calc(0% + 200px);
            width:         calc(0% + 200px);
            height: 100%;
            background-color: green;
        }
        
        .menu-spacing {
            text-align: center;
            height: 100%;
            float: left;
        }
        
        #menu-button {
            position: absolute;
            cursor: pointer;
            top: 10px;
            left: 33px;
            width: 37px;
            height: 37px;
        }
        
        .bar1, .bar2, .bar3 {
            z-index: 0;
            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;
            transition: 0.4s;
        }
        
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {opacity: 0;}

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
        
        #logo {
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 8px;
        }
        
        .search-open {
            position: fixed;
            top: 60px;
            left: -webkit-calc(100% - 200px);
            left:    -moz-calc(100% - 200px);
            left:         calc(100% - 200px);
            width: 200px;
            height: 100%;
            background-color: yellow;
        }
        
        #search-bar-icon {
            position: absolute;
            top: 13px;
            left: -webkit-calc(100% - 54px);
            left:    -moz-calc(100% - 54px);
            left:         calc(100% - 54px);
            color: black;
            font-size: 30px;
            cursor: pointer;
        }
                
        #content {
            height: auto;
            text-align: center;
        }
        
        .content-fade {
            position: fixed;
            top: 60px;
            height: 100%;
            background-color: black;
            opacity: 0.5;
        }
        
        .fade-right {
            left: 200px;
            width: 100%;
        }
        
        .fade-left {
            left: 0;
            width: -webkit-calc(100% - 200px);
            width:    -moz-calc(100% - 200px);
            width:         calc(100% - 200px);
        }
        
        .content-fade-right {
            position: fixed;
            top: 60px;
            left: 25%;
            width: 75%;
            height: 100%;
            background-color: black;
            opacity: 0.5;
        }
        
        #footer {
            background-color: yellow;
            text-align: right;
            padding: 0 20px 0 20px;
        }
        
        .col-0 {
            width: 0%;
        }
        
        .col-1 {
            width: 8.33%;
            padding: 5px;
        }
        
        .col-2 {
            width: 16.66%;
            padding: 10px;
        }
        
        .col-3 {
            width: 25%;
            padding: 5px;
        }
        
        .col-4 {
            width: 33.33%;
            padding: 5px;
        }
        
        .col-5 {
            width: 41.66%;
            padding: 5px;
        }
        
        .col-6 {
            width: 50%;
            padding: 5px;
        }
        
        .col-7 {
            width: 58.33%;
            padding: 5px;
        }
        
        .col-8 {
            width: 66.66%;
            padding: 5px;
        }
        
        .col-9 {
            width: 75%;
            padding: 5px;
        }
        
        .col-10 {
            width: 83.33%;
            padding: 5px;
        }
        
        .col-11 {
            width: 91.66%;
            padding: 5px;
        }
        
        .col-12 {
            width: 100%;
            padding: 5px;
        }
    </style>
{% endblock %}